ADMIN_USER_EMAIL={replace-me}
ADMIN_USER_NAME={replace-me}
ADMIN_USER_PWD={replace-me}
BASE_URL={replace-me}
SECRET_KEY_BASE={replace-me}
MAILER_EMAIL=

GEOIPUPDATE_ACCOUNT_ID=<your-account-id>
GEOIPUPDATE_LICENSE_KEY=<your-license-key>

DATABASE_URL=postgres://postgres:postgres@plausible_db:5432/plausible